<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container mt-3">

    <h2>Messages list</h2>
    <!--  <p>Type something in the input field to search the table for first names, last names or emails:</p>-->
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>
  <form action="/read" method="post">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">Visitor Full Name</th>
        <th scope="col">Visitor Info</th>
        <th scope="col">Pass Type</th>
        <th scope="col">Department Place</th>
        <th scope="col">Cabinet</th>
        <th scope="col">Begin Time</th>
        <th scope="col">End Time</th>
        <th scope="col">Phone number</th>
        <th scope="col">Visiting Number</th>
        <th scope="col">Action</th>
        <th scope="col">End Time</th>
        <th scope="col">Phone number</th>
        <th scope="col">Visiting Number</th>
        <th scope="col">Action</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="application : ${applications}">
        <td th:text="${application.visitor_name}"></td>
        <td th:text="${application.visitor_info}"></td>
        <td th:text="${application.department_id}"></td>
        <td th:text="${application.cabinet_number}"></td>
        <td th:text="${application.begin_time}"></td>
        <td th:text="${application.end_time}"></td>
        <td th:text="${application.phone_number}"></td>
        <td th:text="${application.vising_id}"></td>
        <td th:text="${application.state_id}"></td>
        <td th:text="${application.created_by}"></td>
        <td th:text="${application.created_on}"></td>
        <td th:text="${application.rejection}"></td>
        <td th:text="${application.type_id}"></td>
        <td th:text="${application.object_name}"></td>
        <td>
          <button type="submit"><a th:href="@{/update(user_id=${application.application_id})}">Update</a></button>
          <button class="button button3" type="button" th:onclick="|Delete(${application.application_id})|">Delete</button>
        </td>
      </tr>
      </tbody>
      <!--  <p>All messages from Initiator</p>-->
    </table>
  </form>
</div>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
</body>
</html>
